:root {
  --sn-stylekit-editor-font-family: "Lato", sans-serif;
  --sn-stylekit-sans-serif-font: "Lato", sans-serif;
  --sn-stylekit-neutral-color: #ad89cf;
  --sn-stylekit-neutral-contrast-color: white;
  --sn-stylekit-info-color-darkened: #050505;
  --sn-stylekit-info-color: #7e4faa;
  --sn-stylekit-info-contrast-color: white;
  --sn-stylekit-success-color: #3f1b61;
  --sn-stylekit-success-contrast-color: white;
  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: white;
  --sn-stylekit-danger-color: #f80324;
  --sn-stylekit-danger-contrast-color: white;
  --sn-stylekit-shadow-color: #be97d4;
  --sn-stylekit-background-color: #f5ebf8;
  --sn-stylekit-border-color: #9137c4;
  --sn-stylekit-foreground-color: black;
  --navigation-item-selected-background-color: #e3ccf0;
  --sn-stylekit-info-backdrop-color: #e0b9f5;
  --sn-stylekit-contrast-background-color: #f5ebf8;
  --sn-stylekit-contrast-foreground-color: #300459;
  --sn-stylekit-contrast-border-color: #9137c4;
  --sn-stylekit-secondary-background-color: #f5ebf8;
  --sn-stylekit-secondary-foreground-color: #2e2e2e;
  --sn-stylekit-secondary-border-color: #9137c4;
  --sn-stylekit-secondary-contrast-background-color: #f5ebf8;
  --sn-stylekit-secondary-contrast-foreground-color: #2e2e2e;
  --sn-styleki--secondary-contrast-border-color: #9137c4;
  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);
  --sn-stylekit-passive-color-0: var(--sn-stylekit-neutral-color);
  --sn-stylekit-passive-color-3: var(--sn-stylekit-contrast-border-color);
  --sn-stylekit-passive-color-4: var(--sn-stylekit-secondary-background-color);
  --sn-stylekit-passive-color-4-opacity-variant: #b294cd;
  --sn-stylekit-passive-color-5: var(--sn-stylekit-secondary-background-color);
  --sn-stylekit-paragraph-text-color: #47374b;
  --preferences-navigation-icon-color: #050505;
  --sn-stylekit-input-border-color: #34223b;
  --sn-stylekit-scrollbar-thumb-color: #8654b4;
  --sn-stylekit-scrollbar-track-border-color: #c7bad4;
  --sn-stylekit-general-border-radius: 2px;
  --sn-stylekit-theme-type: light;
}
#blocks-editor hr:after {
  background-color: #976bc1;
}
